{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block body %}

<div class="FormPeriodo p-4 container">

    <div class="card row-cols-1 col-4 bg-dark-red bg-blue Form-Periodo m-2">
        <form action="." method="POST">
            {% csrf_token %}
            <div class="card-body bg-blue">
                {% if form.errors %}
                {% for field, error in form.errors.items %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{ field }}</strong>{{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
                {% if error %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{ error }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
                <hr>

                {% for i in form %}

                {{ i.label }}

                {{ i }}

                {% endfor %}
                <hr>
                <div class="container item-button-center">
                    <button type="submit" class="btn btn-success">
                        Guardar
                    </button>
                    <button class="btn btn-danger" onclick="history.back()">
                        Cancelar</button>
                </div>

            </div>



        </form>
    </div>

    
    {% for u in usuario %}
    <h5>{{u.username}}</h5>
    <div class="card row-cols-1 col-7 bg-dark-red bg-blue m-2">
            <table class="table-1">
                <thead>
                    <tr>
                        <th>Dia</th>
                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miercoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                    </tr>
                </thead>
            
            
                <tbody>
                    <tr>
                        <td>Hora de Entrada: <br>
                            Hora de Salida:
                        </td>
                        {% for i in ListHorario %}
                            {% if u == i.id_user %}
                                <td> {{ i.Hora_E|time:"h:i A"}} <br>
                                {{ i.Hora_S|time:"h:i A" }}</td>
                            {% else %}

                            No hay registros
                            
                            {% endif %}
                        {% endfor %}
                            
                            
                    </tr>
                </tbody>
            </table>
        </div>
        {% endfor %}
            

</div>

{% endblock body %}

{% block js %}

{% endblock js %}