{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block body %}
<form action="." method="POST">
    {% csrf_token %}
    <div class="card row-cols-1  m-auto bg-dark-red bg-blue">
        <div class="card-body bg-blue">
            {% if form.errors %}
            {% for field, error in form.errors.items %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{ field }}</strong>{{ error }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            <hr>

            {% for i in form %}

            {{ i.label }}


            {% if i.name == 'id_User' %}

            {{ i|add_class:'form-control disableds'|attr:'disabled' }}

            {% else %}

            
            {{ i|add_class:'form-control' }}

            {% endif %}



            {% endfor %}
            <hr>
            <div class="container item-button-center">
                <button type="submit" class="btn btn-success">
                    Guardar
                </button>
                <button class="btn btn-danger" onclick="history.back()">
                    Cancelar</button>
            </div>

        </div>
    </div>
</form>

{% endblock body %}

{% block js %}

{% endblock js %}