{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="container mt-3 mb-5">
    <div class="row">
        <div class="col-md-8 mb-3">
            <div class="card h-100">
                <div class="card-body bg-dark">
                    <h5 class="card-title text-light fw-bold">Historia</h5>
                    <p class="card-text text-light m-1" style="text-align: justify;">
                        La institución fue creada el 1º de octubre de 1961, contaba entonces con 24 estudiantes y
                        comenzó a funcionar en la casa
                        de habitación del Sr. Régulo Jaime. Durante ese año escolar 1961 – 1962 y por iniciativa del
                        entonces presidente del
                        Concejo Municipal, Sr. Miguel Ángel Casanova, se logró la donación de un terreno propio para la
                        sede de la escuela.
                        Seguidamente se estructuró una Junta Directiva, cuya loable labor consistió en la recolección de
                        fondos para la
                        construcción de la planta física del plantel. <br>
                        Esta junta fue integrada por los señores Antonio Ramón Zambrano, Blanca de Araque, Eustoquio
                        Chacón y Berta de Sánchez.
                        En programa conjunto colaboraron en la construcción de esta obra los siguientes organismos:
                        Vivienda Rural, Gobernación
                        del Estado, ORDEC y Concejo Municipal. También dieron su valioso aporte en mano de obra los
                        señores: Alí Colmenares,
                        Emilio Ruiz, Gregorio Escalante, Carlos Angarita y Teófilo Chacón. <br>
                        En el año 1972, la escuela pasó a formar parte del NER 069, siendo el director para esa fecha el
                        ciudadano Ramón Antonio
                        Casanova. Al iniciar sus actividades en el año 1961, la escuela recibe el nombre de “El
                        Porvenir”, hacia 1971, la
                        escuela es graduada con el nombre de “Camilo Prada” y en 1977 por coincidir con el epónimo del
                        liceo de la población de
                        Michelena el Ministerio de Educación le asigna el epónimo de Escuela Nacional Graduada “Brinolfo
                        Jaime Torres”, quien
                        fue insigne maestro de juventudes. <br>
                        Inicialmente, la escuela funcionó en la sede principal, a medida de su crecimiento fue necesario
                        ir ampliando la
                        construcción, al ser insuficiente el espacio se recurrió al funcionamiento en locales prestados
                        y alquilados de la
                        comunidad. La unidad educativa nacional “Brinolfo Jaime Torres” retoma actividades escolares,
                        imparte conocimientos a
                        través de la educación regular primaria, es decir en sus seis grados con dos secciones cada una,
                        desplegando la
                        instrucción individual a través de la educación especial, con el servicio de aula integrada, la
                        institución se ubica al
                        final de la calle 6 con carrera 1-E barrio Ayacucho, San Juan de Colón, municipio Ayacucho,
                        estado Táchira, la cual
                        desde este año escolar 2025-2026 se encuentra bajo la dirección de la licenciada Leidy
                        Monteverde.

                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex flex-column mb-3">
            <div class="card flex-grow-1 mb-3">
                <div class="card-body bg-dark">
                    <h5 class="card-title text-light fw-bold">Visión</h5>
                    <p class="card-text text-light m-1" style="text-align: justify;">
                        La visión de la institución lograr la integración de la comunidad educativa (estudiantes,
                        docentes, administración,
                        padres, profesores y otros) a través de la practicas de valores, promoviendo el sentido de
                        pertenencia y la autonomía.
                    </p>
                </div>
            </div>
            <div class="card flex-grow-1">
                <div class="card-body bg-dark">
                    <h5 class="card-title text-light fw-bold">Misión</h5>
                    <p class="card-text text-light m-1" style="text-align: justify;">
                        Ser una institución educativa pública dependiente del ministerio popular para la educación que
                        se plantea la atención
                        integral de los estudiantes, sin discriminaciones, desarrollando programas.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}