{% extends 'base.html' %}
{% load static %}

{% block body %}
  <div class="container">
    <h2 class="text-light">Bienvenido {{ user.username }}</h2>
    <div class="container row">
      <div class="card bg-dark col-sm-10 col-md-8 col-lg-6 m-auto mb-5" style="border-color: aliceblue;">
        <div class="card mt-4 align-items-md-center bg-dark row" style="border-color: aliceblue; margin-left: 2px; margin-right: 2px;">
          <a class="card mb-3 mt-3 col-sm-10 col-md-8 col-lg-5 m-auto text-red perfil" href="{% url 'cambiar_img' user.id %}">
            
            
            
            {%if user.image == "Usuario.jpg" %}
            <img class="" src="{% static 'img/Usuario.jpg' %}" alt="User.jpg" />
            {% else %}
            <img class="" src="{{ user.image.url }}" alt="User.jpg" />
            {% endif %}
            
            
            
              
          </a>
        </div>
        <div class="card-body">
          <h4 class="card-title text-light">
          {% if user.is_staff %}
            Administrador
          {% endif %}
            </h4>
            <hr class="col-12 m-auto">
          <p class="card-text text-light">{{ user.nombre|upper }} {{ user.apellido|upper }}</p>
          <p class="card-text text-light">Email: {{ user.email }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
